# Backend
/backend/env
/backend/db.sqlite3

/backend/blog/__pycache__
/backend/user_api/__pycache__
/backend/user_api/migrations
/backend/user_api/urls/__pycache__
/backend/blog_api/__pycache__
/backend/blog_api/migrations
/backend/blog_api/urls/__pycache__
/backend/comment_api/__pycache__
/backend/comment_api/migrations
/backend/comment_api/urls/__pycache__

# frontend
# Logs
/frontend_vue/logs
/frontend_vue/*.log
/frontend_vue/npm-debug.log*
/frontend_vue/yarn-debug.log*
/frontend_vue/yarn-error.log*
/frontend_vue/pnpm-debug.log*
/frontend_vue/lerna-debug.log*

/frontend_vue/node_modules
/frontend_vue/.DS_Store
/frontend_vue/dist
/frontend_vue/dist-ssr
/frontend_vue/coverage
/frontend_vue/*.local

/frontend_vue/cypress/videos/
/frontend_vue/cypress/screenshots/

# Editor directories and files
/frontend_vue/.vscode/*
/frontend_vue/!.vscode/extensions.json
/frontend_vue/.idea
/frontend_vue/*.suo
/frontend_vue/*.ntvs*
/frontend_vue/*.njsproj
/frontend_vue/*.sln
/frontend_vue/*.sw?

/frontend_vue/*.tsbuildinfo



# frontend_react
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/frontend_react/node_modules
/frontend_react/.pnp
/frontend_react/.pnp.js

# testing
/frontend_react/coverage

# production
/frontend_react/build

# misc
/frontend_react/.DS_Store
/frontend_react/.env.local
/frontend_react/.env.development.local
/frontend_react/.env.test.local
/frontend_react/.env.production.local

/frontend_react/npm-debug.log*
/frontend_react/yarn-debug.log*
/frontend_react/yarn-error.log*



